/* Song Cards */

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 60px 0;
  margin: 60px 2rem;
  max-width: 1200px;
  padding: 0;
  /* width: 100%; */
}

.card {
  height: 200px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  /* justify-content: space-between; */
  cursor: pointer;

  /* background-color: #0a3d62; */

  /* background-image: radial-gradient(
    circle 602px at 2.1% 5.1%,
    rgba(233, 0, 120, 1) 0%,
    rgba(0, 0, 0, 1) 90.1%
  ); */

  /* margin: 16px 0; */
}

.card:hover {
  background-color: #0a3d62;
  transform: scale(1.05);
}

.ActiveCard {
  background-color: #0a3d62;
}

.ActiveTitle {
  color: rgb(25, 170, 228);
  /* color: rgb(48, 121, 150); */
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardImage {
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin: 10px 20px 10px 0;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.4);
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.SongInfoContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
}

.SongTitle {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
  letter-spacing: 0.5px;
}

.SongArtist {
  font-size: 14px;
  margin: 0;
}

/* .PlayBtnCards {
  color: #ffffff;
  position: absolute;
  right: 50px;
  top: 700px;
  outline: none;
  font-size: 80px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
} */

/* .controlls {
  margin: 10px 0;
}

.controlls a {
  text-decoration: none;
  margin: 0 10px;
}

.controlls .fa {
  color: #ffffff;
  height: 60px;
} */

@media screen and (max-width: 768px) {
  .card {
    height: 150px;
  }

  .cardImage {
    height: 150px;
    width: 150px;
  }

  .SongInfoContainer {
    font-size: 14px;
  }

  .SongTitle {
    font-size: 15px;
  }

  .SongArtist {
    font-size: 12px;
  }
}

/* xs */

@media screen and (max-width: 576px) {
  /* .card {
    height: 120px;
  }

  .card img {
    height: 80px;
  } */

  /* .card {
    height: 150px;
  }

  .card img {
    height: 140px;
    width: 100px;
    object-fit: cover;
  } */

  .SongInfoContainer {
    font-size: 12px;
  }

  .SongTitle {
    font-size: 13px;
  }

  .SongArtist {
    font-size: 10px;
  }
}

/* Galaxy fold === 280px width */

@media screen and (max-width: 320px) {
  .cardsContainer {
    margin: 40px 0 0 0;
  }

  .card {
    height: 100px;
  }

  .cardImage {
    height: 100px;
    width: 100px;
  }

  .SongInfoContainer {
    font-size: 10px;
  }

  .SongTitle {
    font-size: 11px;
  }

  .SongArtist {
    font-size: 8px;
  }
}
